server {
  listen 8080;
  server_tokens off;

  location = /proxy-health {
    access_log off;
    return 200 '{"status":"ok"}';
    add_header Content-Type application/json;
  }

  location / {
    proxy_pass http://${GLPI_UPSTREAM_HOST}:${GLPI_UPSTREAM_PORT};
    proxy_set_header Host ${GLPI_UPSTREAM_HOST};
    proxy_set_header App-Token "${GLPI_APP_TOKEN}";
    proxy_set_header Authorization "${GLPI_AUTH_BASIC}";
    proxy_connect_timeout 5s;
    proxy_read_timeout 30s;
  }
}
